.section {
    margin-top: 20px;
}

button.btn {
    cursor: pointer;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

button.btn:hover {
    background-color: darkorange;
}

button.removeBtn {
    cursor: pointer;
    background-color: indianred;
    border: none;
    border-radius: 5px;
    padding: 4px 10px;
}
